<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Students Interest System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/DatatableCSS/jquery.dataTables.css" />
    <link rel="stylesheet" href="~/css/DatatableCSS/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/StudentsInterestSystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/all.min.css" />
</head>
<body>

    <header style="background-image: linear-gradient(to right, #00004d, #0042a5, #04a9f5); /* Galactic gradient background */">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light justify-content-center mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-white" style="font-size: 2rem; margin-left: 2rem;" asp-area="" asp-controller="Student" asp-action="AllStudents">
                    Students Interest System
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white px-3" style="font-size: 1.6rem;" asp-area="" asp-controller="Student" asp-action="AllStudents">All Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white px-3" style="font-size: 1.6rem;" asp-area="" asp-controller="Student" asp-action="AddStudent">Add Student</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white px-3" style="font-size: 1.6rem;" asp-area="" asp-controller="Student" asp-action="Dashboard">Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            <script src="~/lib/jquery/dist/jquery.min.js"></script> @*I need to load JQuery earlier*@
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - StudentsInterestSystem - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/Datatable/jquery.dataTables.js"></script>
    <script src="~/Datatable/jquery.dataTables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

